<!DOCTYPE html>
<html>
<head>
  <title>Edit Product</title>
</head>
<body>
  <h1>Edit Product</h1>
  <form action="/products/edit/{{product._id}}" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{product.name}}">
    <br>
    <label for="price">Price:</label>
    <input type="text" id="price" name="price" value="{{product.price}}">
    <br>
    <input type="submit" value="Save Changes">
  </form>
  <a href="/Product">Back to Products</a>
</body>
</html>
